@model HomeInformationSection

<section id="about" class="section feature-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 m-15px-tb">
                <div class="feature-box" style="background-image: url(static/img/feature-box-bg.png);">
                    <div class="icon">
                        <i class="fa fa-map theme-color"></i>
                    </div>
                    @* <h3 class="font-alt">Satisfy Clients</h3> *@
                    <p class="mt-2">
                        <a href="https://www.google.com/maps?q=@(Model.Latitude),@(Model.Longitude)" style="color: white" target="_blank"> @Model.Address</a>
                       
                    </p>
                </div>
            </div> <!-- col -->

            <div class="col-md-4 m-15px-tb">
                <div class="feature-box box02" style="background-image: url(static/img/feature-box-bg.png);">
                    <div class="icon">
                        <i class="fa fa-phone theme-color"></i>
                    </div>
                    <h3 class="font-alt mt-4">@Model.PhoneNumber </h3>
                 
                </div>
            </div> <!-- col -->

            <div class="col-md-4 m-15px-tb">
                <div class="feature-box" style="background-image: url(static/img/feature-box-bg.png);">
                    <div class="icon">
                        <i class="fa fa-envelope theme-color"></i>
                    </div>
                    <h3 class="font-alt mt-4"> <a style="color: white"  href="mailto:@(Model.Email)">
                        @Model.Email
                    </a></h3>
                   
                </div>
            </div> <!-- col -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>