@model List<Application.ViewModels.Main.ItemViewModel>
<span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true"><i class="ti-angle-down"></i></span>
<ul class="sub-menu">
    @foreach (var item in Model)
    {
        <li>
            <a asp-controller="Project" asp-action="Projects" 
               asp-route-filter="@item.Id" asp-route-title="@item.Title">@item.Title</a>
        </li>
    }
  
  
</ul>
