@model SettingDto
@{
    ViewData["Title"] = "Setting";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Script{
    <script src="~/adminPanel/src/js/ckeditor-classic.js"></script>
    <script src="~/adminPanel/src/js/ckeditor.js"></script>
    <script src="~/adminPanel/dist/js/ckeditor-classic.js"></script>
}

<form asp-area="Admin" asp-controller="Setting" asp-action="General" method="post" enctype="multipart/form-data">
    <button type="submit" class="btn btn-primary btn-sm mt-5">Submit Changes</button>
    <div class="grid grid-cols-12 gap-6 mt-2">



        <div class="intro-y col-span-12 lg:col-span-6 box mt-5 ">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    General
                </h2>

            </div>
            <div id="input" class="p-5">
                <div>
                    <label for="regular-form-6" class="form-label">Phone Number</label>
                    <input id="regular-form-6" asp-for="PhoneNumber" type="text" class="form-control w-75" placeholder="Phone Number...">
                </div>
                <div class="mt-3 ">
                    <label for="regular-form-2" class="form-label">Email</label>
                    <input id="regular-form-2" type="email" asp-for="Email" class="form-control" placeholder="Email...">
                    <div class="form-help">To display and send a message</div>
                </div>
                <div class="mt-3 ">
                    <label for="Address" class="form-label">Address</label>
                    <textarea class="form-control" id="Address" asp-for="Address" rows="3"></textarea>

                </div>

            </div>
        </div>


        <div class="intro-y col-span-12 lg:col-span-6 box mt-5 ">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Social Media
                </h2>

            </div>
            <div id="input" class="p-5">
                <div class="mt-3 ">
                    <label for="regular-form-5" class="form-label">Linkedin</label>
                    <input id="regular-form-5" asp-for="Linkedin" type="text" class="form-control w-75" placeholder="Linkedin...">
                </div>

                <div class="mt-3 ">
                    <label for="regular-form-8" class="form-label">Twitter</label>
                    <input id="regular-form-8" asp-for="Twitter" type="text" class="form-control w-75" placeholder="Twitter...">
                </div>

                <div class="mt-3 ">
                    <label for="regular-form-9" class="form-label">FaceBook</label>
                    <input id="regular-form-9" asp-for="FaceBook" type="text" class="form-control w-75" placeholder="FaceBook...">
                </div>

                <div class="mt-3 ">
                    <label for="regular-form-10" class="form-label">Instagram</label>
                    <input id="regular-form-10" asp-for="Instagram" type="text" class="form-control w-75" placeholder="Instagram...">
                </div>

            </div>
        </div>


        <div class="intro-y col-span-12 lg:col-span-6 box mt-5 ">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Site Identity
                </h2>

            </div>
            <div id="input" class="p-5">
                <div class="fallback">
                    <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                        @if (Model.Logo == "default.jpg")
                        {
                            <img id="imagePath_1" src="~/img/default.jpg">

                        }
                        else
                        {
                            <img id="imagePath_1" src="@(ViewBag.Base + Model.Logo)">

                        }
                    </div>
                    <label for="image_1" class="form-label mt-3">Logo File</label><br />
                    <input onchange="ChangeImage(this,1)" asp-for="LogoFile" type="file" id="image_1" class="mt-1" />
                </div>
                <div class="mt-3 ">
                    <label for="regular-form-4" class="form-label">Site Title</label>
                    <input id="regular-form-4" asp-for="SiteTitle" type="text" class="form-control w-75" placeholder="Site Title...">
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Logo" />
        <input type="hidden" asp-for="AboutImage" />
        <input type="hidden" asp-for="BannerPageHeader" />
        <input type="hidden" asp-for="Banner" />
        <div class="intro-y col-span-12 lg:col-span-6 box mt-5 ">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Main Header
                </h2>

            </div>
            <div id="input" class="p-5 mt-5">
                <div class="fallback">
                    <div class="w-60 h-20 sm:w-60 sm:h-24 flex-none lg:w-70 lg:h-32 image-fit relative">
                        @if (Model.Banner == "default.jpg")
                        {
                            <img id="imagePath_2" src="~/img/default.jpg">

                        }
                        else
                        {
                            <img id="imagePath_2" src="@(ViewBag.Base + Model.Banner)">

                        }
                    </div>
                    <label for="Banner" class="form-label mt-5">Banner File</label><br />
                    <input onchange="ChangeImage(this,2)" asp-for="BannerFile" type="file" id="image_2" class="mt-1" />
                </div>



            </div>
        </div>


        <div class="intro-y col-span-12 lg:col-span-6 box mt-5 ">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    About
                </h2>

            </div>
            <div id="input" class="p-5 mt-5">
                <div class="fallback">
                    <div class="w-60 h-20 sm:w-60 sm:h-24 flex-none lg:w-70 lg:h-32 image-fit relative">
                        @if (Model.AboutImage == "default.jpg")
                        {
                            <img id="imagePath_2" src="~/img/default.jpg">

                        }
                        else
                        {
                            <img id="imagePath_3" src="@(ViewBag.Base + Model.AboutImage)">

                        }
                    </div>
                    <label for="image_3" class="form-label mt-5">Banner File</label><br />
                    <input onchange="ChangeImage(this,3)" asp-for="AboutImageFile" type="file" id="image_3" class="mt-1" />
                </div>
                <div class="mt-3 ">
                    <label for="regular-form-8" class="form-label">Work Experience</label>
                    <input id="regular-form-8" asp-for="WorkExperience" type="number" class="form-control w-75">
                </div>

                <div class="mt-3 ">
                    <label for="regular-form-9" class="form-label">Completed Project</label>
                    <input id="regular-form-9" asp-for="CompletedProject" type="number" class="form-control w-75">
                </div>
            </div>
        </div>



        <div class="intro-y col-span-12 lg:col-span-6 box mt-5 ">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Pages
                </h2>

            </div>
            <div id="input" class="p-5 mt-5">
                <div class="fallback">
                    <div class="w-60 h-20 sm:w-60 sm:h-24 flex-none lg:w-70 lg:h-32 image-fit relative">
                        @if (Model.BannerPageHeader == "default.jpg")
                        {
                            <img id="imagePath_4" src="~/img/default.jpg">

                        }
                        else
                        {
                            <img id="imagePath_4" src="@(ViewBag.Base + Model.BannerPageHeader)">

                        }
                    </div>
                    <label for="image_4" class="form-label mt-5">Banner File</label><br />
                    <input onchange="ChangeImage(this,4)" asp-for="BannerPageHeaderFile" type="file" id="image_4" class="mt-1" />
                </div>

            </div>
        </div>


        <div class="intro-y col-span-12 lg:col-span-12 box mt-5 ">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Mail Service
                </h2>

            </div>
            <div class="p-5 mt-5">
                <div class="form-check p-3">
                    <input id="checkbox-switch-7" class="form-check-switch" type="checkbox" asp-for="ActiveMailService" />
                    <label class="form-check-label" for="checkbox-switch-7">Active Mail Service</label>
                </div>

                <div class="mt-3 ">
                    <label class="form-label">Mail Sender </label>
                    <input asp-for="MailSender" type="text" class="form-control w-75">
                </div>

                <div class="mt-3 ">
                    <label class="form-label">Mail Receiver </label>
                    <input asp-for="MailReceiver" type="text" class="form-control w-75">
                </div>

                <div class="mt-3 ">
                    <label class="form-label">Mail Host </label>
                    <input asp-for="MailHost" type="text" class="form-control w-75">
                </div>

                <div class="mt-3 ">
                    <label class="form-label">Mail Host </label>
                    <input asp-for="MailHostPort" type="number" class="form-control w-75">
                </div>

                <div class="mt-3 ">
                    <label class="form-label">Smtp UserName </label>
                    <input asp-for="SmtpUserName" type="text" class="form-control w-75">
                </div>

                <div class="mt-3 ">
                    <label class="form-label">Smtp Password </label>
                    <input asp-for="SmtpPassword" type="text" class="form-control w-75">
                </div>


            </div>
        </div>









        <div class="intro-y col-span-12 lg:col-span-12 box mt-5 ">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Description
                </h2>

            </div>
            <div class="p-5 mt-5">
                <div class="mb-5">
                    <label class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control editor ck ck-editor__main"></textarea>
                </div>


                <div class="mt-5">
                    <label class="form-label">About Description</label>
                    <textarea asp-for="AboutDescription" class="form-control editor ck ck-editor__main"></textarea>
                </div>

                <div class="mt-5">
                    <label class="form-label">Partner Description</label>
                    <textarea asp-for="PartnerDescription" class="form-control editor ck ck-editor__main"></textarea>
                </div>


                <div class="mt-5">
                    <label class="form-label">Service Description</label>
                    <textarea asp-for="ServiceDescription" class="form-control editor ck ck-editor__main"></textarea>
                </div>


                <div class="mt-5">
                    <label class="form-label">Team Description</label>
                    <textarea asp-for="TeamDescription" class="form-control editor ck ck-editor__main"></textarea>
                </div>


                <div class="mt-5">
                    <label class="form-label">Project Description</label>
                    <textarea class="form-control editor ck ck-editor__main" asp-for="ProjectDescription"></textarea>
                </div>




            </div>
        </div>



    </div>
</form>