<nav class="side-nav">
    <a href="" class="intro-x flex items-center pl-5 pt-4">
        <img alt="Rubick Tailwind HTML Admin Template" class="w-6" src="~/adminPanel/dist/images/logo.svg">
        <span class="hidden xl:block text-white text-lg ml-3"> Ru<span class="font-medium">bick</span> </span>
    </a>
    <div class="side-nav__devider my-6"></div>
    <ul>
      
      
      
        <li>
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> <i data-feather="users"></i> </div>
                <div class="side-menu__title">
                    Categories
                    <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                </div>
            </a>
            <ul class="">
                <li>
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> List of categories </div>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Add Category </div>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Category" asp-action="Trash" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Deleted list </div>
                    </a>
                </li>
            </ul>
        </li>
      
    </ul>
</nav>