html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  
}
.timeBox {
    margin-top: 12px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: white;
    border-radius: 7px;
    text-align: center;
    padding: 5px;
    width: 300px;
    background-color: #fc8902;
}



.slider {
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

.Tag {
    padding: 5px;
    border: 1px solid black;
}