@model UpdateScopeWorkDto
@{
    ViewData["Title"] = "Edit Category";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

                        
                        
                        

@if (ViewBag.Alert != null)
{
    <div onclick="closeAlert()" style="width: 50%;" class="alert alert-warning-soft show flex items-center mt-5" id="closeAlert" role="alert">
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x block mx-auto"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a>

        <strong class="ml-5">  @ViewBag.Alert</strong>
    </div>

}

<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
        <h2 class="font-medium text-base mr-auto">
            Edit Category
        </h2>
        
    </div>
    <div id="input" class="p-5">
        <form asp-area="Admin" asp-controller="ScopeWork" asp-action="Edit" method="post">
            <div class="mb-5">
                <div>
                    <label for="TitleScopeWork" class="form-label">Scope Category</label>
                    <input asp-for="Title" id="TitleScopeWork" placeholder="Title..."  type="text" class="form-control" >
                </div>
                <input type="hidden" asp-for="Id"/>
            </div>
            <button class=" btn btn-primary " type="submit">Submit</button>
            <a asp-controller="ScopeWork" asp-action="Index" asp-area="Admin" class="btn btn-warning text-white">Cancel</a>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial"/>