
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="portfolio" class="section">
    <div class="container">
        <div class="row justify-content-center m-60px-b md-m-40px-b">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="section-title">
                    <h2 class="theme-after">Our Portfolio</h2>
                    <p>ed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur </p>
                </div>
            </div>
        </div>

        <div class="portfolio-filter-01 m-15px-b text-center">
            <ul class="filter">
                <li class="active" data-filter="*">All</li>
                <li data-filter=".photoshop" class="">ARCHITECTURE</li>
                <li data-filter=".illustration" class="">Developments</li>
                <li data-filter=".website" class="">ENGINEERING</li>
            </ul>
        </div> <!-- Portfolio Filter -->

        <div class="portfolio-content lightbox-gallery" style="position: relative; height: 548.953px;">
            <ul class="portfolio-cols portfolio-cols-4">
                <li class="portfolio-item illustration" style="position: absolute; left: 0px; top: 0px;">
                    <div class="portfolio-col portfolio-hover-04">
                        <img src="static/img/portfolio-01.png" title="" alt="">
                        <a href="#" class="overlay theme-bg"></a>
                        <div class="hover text-center p-10px">
                            <p class="font-alt color-white m-0px font-w-500 letter-spacing-1 font-alt font-18">Project Title</p>
                            <label class="font-13 color-white font-w-300 letter-spacing-1">Category</label>
                        </div> <!-- hover -->
                    </div> <!-- .portfolio-co -->
                </li> <!-- col -->
                <li class="portfolio-item photoshop website" style="position: absolute; left: 281px; top: 0px;">
                    <div class="portfolio-col portfolio-hover-04">
                        <img src="static/img/portfolio-02.png" title="The Vally Park" alt="The Vally Park">
                        <a href="#" class="overlay theme-bg"></a>
                        <div class="hover text-center p-10px">
                            <p class="m-0px">The Vally Park</p>
                            <label>Architecture Design</label>
                        </div> <!-- hover -->
                    </div> <!-- .portfolio-co -->
                </li> <!-- col -->
                <li class="portfolio-item illustration photoshop" style="position: absolute; left: 562px; top: 0px;">
                    <div class="portfolio-col portfolio-hover-04">
                        <img src="static/img/portfolio-03.png" title="The Vally Park" alt="The Vally Park">
                        <a href="#" class="overlay theme-bg"></a>
                        <div class="hover text-center p-10px">
                            <p class="m-0px">The Vally Park</p>
                            <label>Architecture Design</label>
                        </div> <!-- hover -->
                    </div> <!-- .portfolio-co -->
                </li> <!-- col -->
                <li class="portfolio-item photoshop website" style="position: absolute; left: 843px; top: 0px;">
                    <div class="portfolio-col portfolio-hover-04">
                        <img src="static/img/portfolio-04.png" title="The Vally Park" alt="The Vally Park">
                        <a href="#" class="overlay theme-bg"></a>
                        <div class="hover text-center p-10px">
                            <p class="m-0px">The Vally Park</p>
                            <label>Architecture Design</label>
                        </div> <!-- hover -->
                    </div> <!-- .portfolio-co -->
                </li> <!-- col -->
                <li class="portfolio-item Illustration" style="position: absolute; left: 281px; top: 274px;">
                    <div class="portfolio-col portfolio-hover-04">
                        <img src="static/img/portfolio-05.png" title="The Vally Park" alt="The Vally Park">
                        <a href="#" class="overlay theme-bg"></a>
                        <div class="hover text-center p-10px">
                            <p class="m-0px">The Vally Park</p>
                            <label>Architecture Design</label>
                        </div> <!-- hover -->
                    </div> <!-- .portfolio-co -->
                </li> <!-- col -->
                <li class="portfolio-item Illustration" style="position: absolute; left: 562px; top: 274px;">
                    <div class="portfolio-col portfolio-hover-04">
                        <img src="static/img/portfolio-04.png" title="The Vally Park" alt="The Vally Park">
                        <a href="#" class="overlay theme-bg"></a>
                        <div class="hover text-center p-10px">
                            <p class="m-0px">The Vally Park</p>
                            <label>Architecture Design</label>
                        </div> <!-- hover -->
                    </div> <!-- .portfolio-co -->
                </li> <!-- col -->
                <li class="portfolio-item Illustration" style="position: absolute; left: 843px; top: 274px;">
                    <div class="portfolio-col portfolio-hover-04">
                        <img src="static/img/portfolio-02.png" title="The Vally Park" alt="The Vally Park">
                        <a href="#" class="overlay theme-bg"></a>
                        <div class="hover text-center p-10px">
                            <p class="m-0px">The Vally Park</p>
                            <label>Architecture Design</label>
                        </div> <!-- hover -->
                    </div> <!-- .portfolio-co -->
                </li> <!-- col -->

            </ul> <!-- row -->
        </div> <!-- portfolio content -->
    </div> <!-- container -->
</section>
