
@model AddCompanyDto
@{
    ViewData["Title"] = "Add Company";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.Alert != null)
{
    <div onclick="closeAlert()" style="width: 60%;" class="alert alert-warning-soft show flex items-center mt-5" id="closeAlert" role="alert">
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x block mx-auto"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </a>

        <strong class="ml-5">  @ViewBag.Alert</strong>
    </div>

}

<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
        <h2 class="font-medium text-base mr-auto">
            Add Company
        </h2>

    </div>
    <div id="input" class="p-5">
        <form asp-area="Admin" asp-controller="Company" asp-action="Create" enctype="multipart/form-data" method="post">
            <div class="mb-5">
                <div>
                    <label for="NameCompany" class="form-label mt-3">Company Name</label>
                    <input asp-for="Name" id="NameCompany" placeholder="Name..." type="text" class="form-control">
                </div>
                <div>
                    <label for="CompanyLink" class="form-label mt-3">Company Link</label>
                    <input asp-for="Link" id="CompanyLink" placeholder="Link..." type="text" class="form-control">
                </div>
                <div>
                    <label for="CompanyType" class="form-label mt-3">Type of communication with the company</label>
                    <select asp-for="CompanyType" id="CompanyType" class="form-select mt-2 sm:mr-2" asp-items="Html.GetEnumSelectList<CompanyTypeEnum>()">
                      
                        <option selected="selected" disabled="disabled">Choose an option</option>
                    </select>
                </div>
                <div class="mt-4">
                    <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                        <img id="imagePath_1" src="~/img/default.jpg">
                    </div>
                    <label for="image_1" class="form-label mt-3">Logo File</label><br />
                    <input onchange="ChangeImage(this,1)" asp-for="LogoFile" type="file" id="image_1" class="mt-1" />
                </div>

               
            </div>
            <button class=" btn btn-primary " type="submit">Submit</button>
            <a asp-controller="Company" asp-action="Index" asp-area="Admin" class="btn btn-warning text-white">Cancel</a>
        </form>
    </div>
</div>




