@model HomeServiceSection
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync("HeaderComponent","Categories")
<section class="section">
    <div class="container">
        <div class="row justify-content-center m-25px-b md-m-20px-b">
            <div class="col-md-10 col-lg-5">
                <div class="section-title">
                    <h2 class="theme-after">Categories</h2>
                    <p>@Html.Raw(Model.Description)</p>
                </div>
            </div>
        </div> <!-- row -->
        <div class="row">
         

           @foreach (var item in Model.Services!)
           {
              
                   <div class="col-12 col-md-6 col-lg-4 m-30px-t"> <a asp-controller="Service" asp-action="ServiceDetail" asp-route-serviceId="@item.Id">
                       <div class="feature-box-03">
                           <div class="text-center">
                               <img src="~/Service/@item.Image" style="width: 150px; height: 90px;" />
                           </div>
                           <br/>
                           <div class="feature-content">
                               <h5>@item.Title</h5>
                               <p>@item.SmallDescription</p>
                           </div>
                       </div> <!-- feature-box-02 -->

                    </a>
                </div>
           }

            

        </div> <!-- row -->
    </div> <!-- container -->
</section>

