

<footer class="footer">
    <section class="footer-section">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("FooterComponent")
            </div>

        </div> <!-- container -->
        <div class="footer-copy">
            <div class="row">
                <div class="col-8">
                    <p>
                        Powered by <a href="https://darnogroup.com/">Darno Group </a>- Donysh Building Finishes © 2023 All Rights Reserved
                    </p>
                </div> <div class="col-4">
                  @if (User.Identity!.IsAuthenticated)
                  {
                      <p>
                          <a asp-controller="Account" asp-action="SignOut" >Log Out</a>
                      </p>
                  }
                  else
                  {
                      <p>
                          <a asp-controller="Account" asp-action="SignIn" >Login </a>
                      </p>
                  }
                </div><!-- col -->
            </div> <!-- row -->
        </div> <!-- footer-copy -->
    </section>
</footer> 