<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="_Header"/>
    @await RenderSectionAsync("Style",false)
</head>

<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

  <!-- Loading -->
<partial name="_Loading"/>
  <!-- / -->

  <!-- Navbar -->
<partial name="_Navbar"/>
    <!-- Navbar End -->
  
  <!-- Main Start -->
  <main>

 
             @RenderBody()
   

     
  </main>
  <!-- Main End -->

  <!-- Footer Start -->
<partial name="_Footer"/>
  <!-- / -->

  <!-- jQuery -->
<partial name="_Script"/>
@await RenderSectionAsync("Script",false)
  <!-- custom -->
  
</body>
<!-- Body End -->

</html>