<header>
    <nav class="navbar header-nav fixed-top navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="~/img/logo.jpg" width="65" height="65"/>
            </a>
            <!-- / -->
            <!-- Top Menu -->
            <div class="navbar-collapse top-menu flex-column collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li><a class="nav-link " href="/">Home</a></li>
                    
                    <li><a class="nav-link" asp-controller="Project" asp-action="Projects">Projects</a>
                        @await Component.InvokeAsync("StatusSectionComponent")
                    </li>
                    <li><a class="nav-link" asp-controller="Service" asp-action="Services">Services</a>
                        <span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true"><i class="ti-angle-down"></i></span>

                        <ul class="sub-menu">
                           
  
                            @await Component.InvokeAsync("ServiceItemComponent")
                        </ul>

                    
                    
                    
                    
                        </li>
                    <li><a class="nav-link" asp-controller="Home" asp-action="WorkingWith">Working with</a></li>
                    <li><a class="nav-link" asp-controller="Home" asp-action="Request">REQUEST A QUOTE</a></li>
                    <li><a class="nav-link" asp-controller="Home" asp-action="Contactus"> Contact us</a></li>
                    <li><a class="nav-link" asp-controller="Home" asp-action="Employments"> To Carriers </a></li>
                    
                  
               
                    @await Component.InvokeAsync("MenuComponent")


                    @if (User.Identity!.IsAuthenticated)
                           {
                               <li>
                                   <a class="nav-link" href="/admin">Admin Panel</a>
                               </li>
                           }
                </ul>

            </div>
            <ul class="navbar-nav extra-menu">
                <li class="search-box">
                   
                    <!-- Mobile Toggle -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- Mobile Toggle End-->
                </li>
            </ul>

            <!-- / -->

        </div><!-- Container -->
    </nav> <!-- Navbar -->
</header>