@model AddPictureDto
@{
    ViewData["Title"] = "Add Picture";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@if (ViewBag.Alert != null)
{
    <div onclick="closeAlert()" style="width: 60%;" class="alert alert-warning-soft show flex items-center mt-5" id="closeAlert" role="alert">
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x block mx-auto"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </a>

        <strong class="ml-5">  @ViewBag.Alert</strong>
    </div>

}

<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
        <h2 class="font-medium text-base mr-auto">
            Add Picture
        </h2>

    </div>
    <div id="input" class="p-5">
        <form asp-area="Admin" asp-controller="Project" asp-action="CreatePicture" enctype="multipart/form-data" method="post">
            <div class="mb-5">
                <div>
                    <label for="Title" class="form-label mt-3">Title</label>
                    <input asp-for="Title" id="Title" placeholder="Title..." type="text" class="form-control">
                </div>
                <div>
                    <label for="Alt" class="form-label mt-3">Alt</label>
                    <input asp-for="Alt" id="Alt" placeholder="Alt..." type="text" class="form-control">
                </div>
               
                <div class="mt-4">
                    <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                        <img id="imagePath_1" src="~/img/default.jpg">
                    </div>
                    <label for="image_1" class="form-label mt-3">File</label><br />
                    <input onchange="ChangeImage(this,1)" asp-for="File" type="file" id="image_1" class="mt-1" />
                </div>

                <input asp-for="ProjectForeignKey" type="hidden" value="@ViewBag.Parent"/>
            </div>
            <button class=" btn btn-primary " type="submit">Submit</button>
            <a asp-controller="Project" asp-action="Gallery" asp-area="Admin" asp-route-id="@ViewBag.Parent" class="btn btn-warning text-white">Cancel</a>
        </form>
    </div>
</div>


